*{margin: 0;
 padding: 0;
 box-sizing: border-box;
 }

body {
  font-family: Arial, Helvetica, sans-serif; 
background-color: #111;
color: #eee;
line-height:1.6;
padding: 40px, 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.container {
 max-width:900px;
 width:100%
 padding: 20px;
}

h1 {
 font-size: 2.5rem;
 margin-bottom:10px;
 text-align:center;
}

p {
 text-align: center;
 margin-bottom: 10px;
 color:ccc;
}

h2 {
 margin-top: 40px;
 margin-bottom: 10px;
 font-size: 1.8rem;
 border-bottom: 1px solid #444;
 padding-bottom: 6px;
}

ul {
 list-style: none;
 padding-left: 0;
}

ul li {
 margin: 10px 0;
}

a {
 color: #7ab3ff;
 text-decoration: none;
}

a:hover {
text-decoration: underline; 
}
