*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Background*/
.bg {
  position:fixed;
  inset: 0;
  background: url("../Assets/main_menu_shattered_dreams.jpg") center/cover no-repeat;
  z-index: -3;
}

/*Dark cinematic overlay*/
.bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg,
  rgba(0,0,0,0.35),
  rgba(0,0,0,0.85)
  );
}

/*Main menu*/
.main-menu {
  position: fixed;
  left: 60px;
  bottom: 60px;
  font-family: "Arial", sans-serif;
}

.main-menu ul {
  list-style: none;
}

.main-menu li {
font-size: 1.4rem;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.75);
  margin: 14px 0;
  cursor: pointer;
  transition: 0.3s ease;
  }

/*Active/Hover*/

.main-menu li:hover,
.main-menu li.active {
  color: #ffffff;
  letter-spacing: 2px;
  transform: translateX(8px);
}

.main-menu a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .page-content {padding: 30px 6%;}
  header h1 {font-size:2.2rem;}
}
